{% extends 'base.html' %}
{% block content %}

<div class="container">
    <form action="{% url 'recommendations' %}" method="get">
        <div class="mb-3">
            <label for="searchMovieRecommendations" class="form-label">
                Search for Movie:
            </label>
            <input type="text" class="form-control"
            name="searchMovieRecommendations" placeholder="Searching for '{{searchTerm}}' "/>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <p>Searching for: {{searchTerm}}</p>
    <!-- Un card por cada película con sus correspondientes atributos -->
    <div class="row row-cols-1 row-cols-md-3 g-4">
    <!-- define una fila en una cuadrícula con una columna en pantallas extra pequeñas y tres
    columnas en pantallas grandes-->
    <!-- Con v-for reprenstamos una lista de elementos basada en un array.
    Como el div está dentro de un for, indicamos que cada elemento obtenido
    se le aplica ese diseño -->
        {% if searchTerm  and searchTerm != "None" %}
            <div class="col">
                <p>La película más similar al prompt es: {{movie.title}} con similitud {{max_similarity}}</p>
                <div class="card">
                    <img src="{{ movie.image.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ movie.title }}</h5>
                        <p class="card-text">{{ movie.description }}</p>
                        <p class="card-text">{{ movie.year }}</p>
                        <p class="card-text">{{ movie.genre }}</p>
                        {% if movie.url %}
                            <a href="{{ movie.url }}" class="btn btn-primary">Movie Link</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
        </div>
</div>
{%endblock content %}